<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
{% load staticfiles %}
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<title>{% block title %}{% endblock %}</title>

</head>
  <body>

    <div id="pagecontainer">

      <a name="top"></a>

      {% include 'layouts/navbar.html' %}

      <div id="maincontent">
        <div id="banner"></div>

        {% block content %}

        {% endblock %}

        {% include 'layouts/footer.html' %}

      </div>

    </div>

  </body>
</html>
