<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
{% load staticfiles %}
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootswatch.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/extensions.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<title>
{% if page_title_prefix %}
  {{ page_title_prefix }}
  &bull;
{% endif %}
{% block title %}{% endblock %}
</title>

</head>
  <body>

    {% include 'layouts/navbar.html' %}

    <div class="container">
      <a name="top"></a>

      {% block content %}

      {% endblock %}

      {% include 'layouts/footer.html' %}
    </div>

  </body>
</html>
