<li class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    Giving Feedback
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#ConstructiveFeedback" data-toggle="tab">Constructive Feedback</a></li>
    <li><a href="#NonConstructiveFeedback" data-toggle="tab">Non-Constructive Feedback</a></li>
    <li><a href="#FeedbackExample" data-toggle="tab">Feedback Example</a></li>
    <li class="divider"></li>
    <li><a href="#ProTip" data-toggle="tab">Tips</a></li>
  </ul>
</li>
