<div class="tab-pane fade" id="feedback">

  <p>So, you and your classmates have completed the colossal task of
  creating your research questions. Unfortunately, a question that may make
  sense to you may not make sense to everyone else. This is why peer
  reviewing each other's proposed questions is an absolute necessity. In
  order to arrive at a workable research question, it is imperative to heed
  the constructive criticism of others and to adjust your question
  accordingly each time. Allow suggestions from others as well as the
  information you gain from scholarly articles guide your revisions. Listen
  to the feedback you will receive. If your question is unclear to one of
  your peers, chances are it may also be unclear to others. Be mindful of
  the fact that your peers are not out to get you, but that they want to
  see you succeed. Never be afraid of asking for feedback, and do not
  become discouraged if the feedback you will receive is not what you would
  have hoped. You are all in the same Honors 110 boat, and by giving and
  receiving honest feedback, you are setting yourselves up for nothing
  short of success.</p>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#constructive-feedback">Giving Constructive Feedback <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="constructive-feedback" class="collapse">
    <p>First of all, it is very important to note that <strong><em>positive
    feedback isn't always good and negative feedback isn't always
    bad</em></strong>. Remember that the purpose of providing feedback
    isn't to make your classmate feel better about their research projects;
    it is to help them do better with their research projects.
    <strong><em>Do not</em></strong> tell the researcher that this is a
    good question if you are aware that it is not. This type of positive
    feedback is dishonest, and dishonest feedback is always bad feedback.
    Your main aim should be to help your peers improve the way that you’d
    like them to help YOU improve</p>

    <p>Good feedback encourages the researcher, but also pushes them to
    improve their question by letting them know what may be unclear to
    others. Look at the question critically and identify where improvements
    could be made in order to make the question more specific and
    answerable. Offer these suggestions in your feedback. It is always
    better to offer an alternative phrase or word in order to make it clear
    to the researcher exactly how they can improve the question.</p>

    <p>Be sure to let the researcher know if he or she is making one of the
    <em>Mistakes to Avoid</em>. Are they asking a yes/no or either/or
    question? Is the question leading or conditional? What specific
    elements (who, what, when, where) need to be clarified?</p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#non-constructive-feedback">Non-Constructive Feedback <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="non-constructive-feedback" class="collapse">
    <p>Just like a bad research question, bad feedback is vague and
    unhelpful. Feedback is least useful when it is dishonest, biased, too
    critical, or unspecific. Be as honest as possible to the researcher to
    allow them to make changes wherever possible. Never hold back
    constructive criticism for fear of hurting your classmate's feelings.
    Instead, do them a favor and help them create the best question they
    can! Always remember to tell them exactly where and how they can make
    improvements to their question, but always remember to praise them for
    what they did right.</p>
  </div>


</div>
