<div class="tab-pane fade" id="mistakes-to-avoid">

  <h2>Avoid these common mistakes:</h2>

  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#generalizations">Avoid Generalizations, Be Specific <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="generalizations" class="collapse">

    <ul>
      <li><em>How effectively is conservation taught to students?</em></li>
    </ul>

    <p>Good research questions are specific and narrowly focused. Among
    other things, the question above is too general. As is, the question
    fails to specify what it means by “effective” and “conservation.” Nor
    does it indicate who is teaching what students and where they are being
    taught. <strong>The best analytical research questions specify the
    following four elements: who, what, where and when.</strong></p>

    <p>For example, an improved version of the question above might read:
    </p>

    <ul>
      <li><em>How effectively are the 11 core conservationist concepts
      developed by the Association of Fish and Wildlife Agencies (AFWA)
      currently incorporated into the K-12 curriculum in VA public
      schools?</em></li>
    </ul>

    <p>This version is much improved because it specifies who
    (<em>AFWA</em>), what (<em>11 core conservationist concepts and the
    K-12 curriculum</em>), when (<em>now</em>) and where (<em>VA public
    schools</em>). Yet, even this version can be further narrowed as your
    research progresses. For example, you might narrow from
    <em>"conservationist concepts"</em> to <em>"respect for wildlife"</em>,
    <em>"sustainable behavior"</em>, or any of the 11 specific concepts
    associated with conservation education. You might also narrow from
    <em>"K-12 curriculum"</em> to <em>"third grade"</em>. Or you might narrow
    from <em>"VA public schools"</em> to <em>"Fairfax County schools"</em>.
    Or you might ask how the curriculum has impacted a specific population
    (e.g. teachers or students). In short, clarifying the specificity of
    your research, narrowing your focus and constantly revising the
    elements of your research question are all regular and necessary parts
    of the research process.</p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#yesno">Avoid Yes/No and Either/Or Questions <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="yesno" class="collapse">
    <ul>
      <li><em>Is conservation a worthy social good or actually bad for
      society?</em></li>
      <li><em>Is keeping primates in the zoo morally wrong?</em></li>
    </ul>

    <p>Yes/No and either/or questions tend to prevent the consideration of
    multiple perspectives. They are reductive and lead to simplistic forms
    of binary thinking: <em>"All conservation is bad"</em> or <em>"All
    conservation is good"</em>. In addition, such questions are often
    <em>factual</em> or <em>evaluative</em> (see <em>Types of
    Questions</em>) and, therefore, do not make good analytical research
    questions. It is not that such questions are not interesting or that
    they do not have any value. But as the basis of analytical research
    projects, yes/no and either/or questions are a dead end.</p>

    <p>One way to avoid writing such questions is to refrain from starting
    questions with words such as <em>are</em> or <em>is</em>, <em>do</em>
    and <em>does</em>, <em>will</em>, <em>should</em>, <em>would</em>, and
    <em>could</em>. Questions that start with these words imply that there
    is only one answer and thus foreclose on the possibility of considering
    multiple perspectives. <strong>The best analytical research questions
    usually start with the words <em>why</em>, <em>what</em> or
    <em>how</em>.</strong></p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#leading">Avoid Leading Questions <i class="glyphicon
  glyphicon-chevron-right"></i></a></h3>

  <div id="leading" class="collapse">
    <ul>
      <li><em>How have Greenpeace's militaristic tactics ruined
      environmental activism?</em></li>
    </ul>

    <p>Questions such as these—that narrate a controversial or debatable
    claim as fact—tend to close down the possibility of debate and the
    exploration of multiple perspectives. Like a yes/no question, leading
    questions direct researchers down a particular path to a pre-determined
    end. For example, the question above prompts us to consider ways that
    Greenpeace has negatively impacted environmental activism; it therefore
    denies that Greenpeace has contributed in any way to the success of
    modern environmentalism. Leading questions tend to be based on an
    assumption or belief of the author—e.g. Greenpeace ruined environmental
    activism—and, in many cases, such questions encourage researchers to
    ignore the evidence associated with other possibilities in support of
    procrustean arguments based on a narrow ideological perspective.</p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#conditional">Avoid Conditional Questions <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="conditional" class="collapse">
    <ul>
      <li><em>If congress spent an extra billion dollars a year to protect
      polar bears, how many years would it take for the population to
      recover?</em></li>
    </ul>

    <p>Conditional questions ask <em>"What if...?"</em> or <em>"If X, then
    what is Y?"</em> Conditional questions are very important—much of
    modern science and technology depends on them. However, they do not
    make for good analytical research questions. In many cases, answering
    such questions requires conducting an experiment, collating and
    establishing a correlation in data sets, or advanced modeling of human
    behavior or natural systems and forces. But when they are used in an
    analytical research project, they force the researcher to use
    conjecture. That is, they direct you to make claims that you cannot
    prove or for which you have no evidence. In many cases, conditional
    questions can function like leading questions for beginning
    researchers—i.e. they operate as a platform for the author to advance
    his or her opinions or beliefs, despite the fact that there is no
    evidence to support them. For example, the question above about polar
    bears provides the opportunity for the researcher to argue that what is
    needed is more money, and that if we simply spent more money, then we
    could solve the problem. But such a claim is purely speculative and
    makes a prediction about the future for which the author has no
    proof.</p>
  </div>


</div>
