<div class="tab-pane fade" id="types-of-questions">

  <h2>There are 4 basic kinds of questions you can ask about a topic:</h2>

  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#process-questions">Process Questions <i class="glyphicon
  glyphicon-chevron-right"></i></a></h3>

  <div id="process-questions" class="collapse">
    <p>These are questions about the about you and your research process.
    Examples:</p>

    <ul>
      <li><em>Where do I find sources on Moby Dick?</em></li>
      <li><em>Should I focus my energies on researching the causes or
      effects of deforestation in the northwestern US?</em></li>
    </ul>

    <p>While important, process questions are not research questions.</p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#factual-questions">Factual Questions <i class="glyphicon
  glyphicon-chevron-right"></i></a></h3>

  <div id="factual-questions" class="collapse">
    <p>These are questions that have only one correct answer. Examples:</p>

    <ul>
      <li><em>Are lemmings suicidal?</em></li>
      <li><em>Where is the largest population of free-roaming elk in North
      America?</em></li>
    </ul>

    <p>Certainly you will ask and answer some factual questions as you work
    on your research project, but your guiding research questions need to
    be something other than factual in order for you to move beyond an
    informative report to an analytical research project. <strong>While
    undoubtedly an essential part of any research process, factual
    questions do not make a good basis for analytical research
    projects.</strong></p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#evaluative-questions">Evaluative Questions <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="evaluative-questions" class="collapse">
    <p>These are questions that require you to use your own knowledge,
    experience, and values in <em>judging</em> an issue, event or action.
    An evaluative question asks whether you agree with a position, or it
    asks you to make a value judgment, or it asks you about your beliefs.
    Examples:</p>

    <ul>
      <li><em>Do I believe that climate change is caused by human
      activity?</em></li>
      <li><em>Is environmental regulation by the government good for
      society?</em></li>
    </ul>

    <p>The answers to evaluative questions often have very little to do
    with evidence. Rather, they have to do with opinion and/or ideological
    belief. <strong>Since scholarly research should be analytical and
    account for multiple perspectives, evaluative questions do not make for
    good research questions.</strong></p>
  </div>


  <h3><a style="cursor:pointer;" data-toggle="collapse"
  data-target="#interpretive-questions">Interpretive Questions <i
  class="glyphicon glyphicon-chevron-right"></i></a></h3>

  <div id="interpretive-questions" class="collapse">
    <p><strong>These are the kind of open-ended questions you should strive
    to ask for an analytical research project.</strong> An interpretive
    question, as the name suggests, is open to <em>interpretation</em> and
    thus has a range of possible answers, more than one of which may be
    accurate or plausible. As a result, an interpretive question is open to
    multiple perspectives from the outset. Interpretive questions tend to
    start with <em>"Why?"</em> <em>"How?"</em> or <em>"What does it
    mean...?"</em></p>
  </div>


</div>
