/.virtualenv
emailsettings.py
*.pyc
*.swp
*.xcf
/researchquestions/static/css/build
/researchquestions/static/admin
/researchquestions/media/feedback.txt
/researchquestions/website/migrations
/researchquestions/researchquestions/secret.py
/researchquestions/university/gmu.py
