<?php

$db_host= ""; # database host
$db_user= ""; # database user
$db_pass= ""; # database password
$db_name= ""; # database name

$tableq = ""; # research questions
$tablec = ""; # comments
$tableu = ""; # known users
$tablel = ""; # access logs
$tablea = ""; # active users

$ldap_host = ""; # authentication db
$ldap_port = ""; # authentication port

?>
