<?php

$db_host= ""; # database host
$db_user= ""; # database user
$db_pass= ""; # database password
$db_name= ""; # database name

$tableq  = ""; # research questions
$tablec  = ""; # comments
$tablecr = ""; # comment replies
$tableu  = ""; # known users
$tableuh = ""; # user hashes
$tablel  = ""; # access logs
$tablea  = ""; # active users

$ldap_host = ""; # authentication db
$ldap_port = ""; # authentication port

?>
