td { 
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
}

th { 
  border-bottom: 1px solid #000000;
}

table { 
}

tr { 
  text-align: center;
}

tr:hover { 
  background-color: #DDFFDD;
}
