@import "style-question-display.css";

body { 
  background-color: #FFFFFF;
  font-size: .8em;
  padding: 0px;
  font-family: "Noto Sans", sans;
}

a, a:visited, a:active { 
  text-decoration: none;
  color: #3F78A9;
}

a:hover { 
  color: #A94D3F;
}

p { 
  text-align: justify;
}

#maincontent { 
  margin: auto;
  margin-top: 5em;
  width: 800px;
}

#maincontent hr { 
  color: #000000;
  background-color: #000000;
  border: 1px solid #000000;
  clear: both;
}

#maincontent h1 { 
  font-size: 2em;
  margin-bottom: 0px;
}

#maincontent h2 { 
  font-size: 1.3em;
  margin-left: 1em;
}

#maincontent h3 { 
  font-size: 1.1em;
  margin-left: 2em;
}

.scrolling_frame { 
  width: 100%;
  height: 400px;
  padding-left: 10px;
  border: 1px solid #000;
  overflow-y: auto;
}

p, form { 
  margin-left: 3em;
}

#navbar { 
  width: 100px;
}

#timestamp { 
  text-align: right;
  font-size: 0.7em;
  position: absolute;
  right: 10px;
  top: 0px;
}
