/*** ---- QUESTIONS ---- ***/
.question { 
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #EEEEFF;
}

.question:hover { 
  background-color: #CCCCFF;
}

.question-id { }

.question-rating { }

.question-asker { }

.question-text { }

/*** ---- COMMENTS ---- ***/
.comments { 
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ddffdd;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.comment-text { 
//  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  width: 400px;
}

.comment-id { }

.comment-author { }

/*** ---- FEEDBACK ---- ***/
.feedback { }

.feedback-text { 
  margin-top: 5px;
  padding: 5px;
  width: 400px;
  height: 50px;
}
