{% extends 'layouts/base.html' %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Help</h1>
      <p class="lead">Use this document to guide your peer-review of
      other students' research questions.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <div class="well well-sm text-center">
      <ul class="nav nav-pills text-left" style="display:inline-block;">

        {% include 'helptext/index/types-of-questions.html' %}

        {% include 'helptext/index/mistakes-to-avoid.html' %}

        {% include 'helptext/index/feedback.html' %}

        {% include 'helptext/index/website.html' %}

      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1" style="text-align: justify;">
    <div class="tab-content">

      <div class="tab-pane fade in active" id="about-research-questions">
        <h1>Writing Analytical Research Questions</h1>

        <p>The art of constructing an analytical research question is a
        difficult skill to learn, but with persistence and dedication it
        can be mastered in a short span of time. An analytical research
        question is not something that can be written in a single sitting.
        Rather, an analytical research question is the result of a
        sustained process—a process that requires careful planning, a
        developed knowledge of your chosen topic, and constant revision. To
        help you get started, this page provides information about the
        <em>Types of Questions</em> you can and should ask about a topic
        and warns you about some common <em>Mistakes to Avoid</em> when
        composing a good analytical research question.</p>

        <div class="video-container">
          <iframe src="//player.vimeo.com/video/99537870" width="500"
          height="281" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen></iframe>
        </div>

        <p>
          <a href="https://vimeo.com/99537870">Honors 110: What is a
          research question?</a> from <a
          href="https://vimeo.com/gmutv">GMU-TV</a> on <a
          href="https://vimeo.com">Vimeo</a>.
        </p>

      </div>

      {% include 'helptext/content/types-of-questions.html' %}

      {% include 'helptext/content/mistakes-to-avoid.html' %}

      {% include 'helptext/content/feedback.html' %}

      {% include 'helptext/content/website.html' %}

    </div>
  </div>
</div>

{% endblock %}
