{% extends 'layouts/base.html' %}

{% block title %}
Submit Question
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Submit a Research Question</h1>
      <p class="lead">Use this form to submit your tentative research
      question for peer review.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="well">
      <form class="form-horizontal" action="/submit" method="post">
      {% csrf_token %}
        <fieldset>
          <legend>Research Question</legend>

          {% if form.text.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}

            <label class="col-sm-2 control-label"
            for="{{form.text.id_for_label}}">
              {{ form.text.label }}
              {% if form.text.errors %} (Required){% endif %}
            </label>

            <div class="col-sm-10">
              {{ form.text }}
            </div>

            <div class="col-sm-10 col-sm-offset-2">
              <span class="help-block">
                Please only include the question text, there is no need to
                include your name or any other information.
              </span>
            </div>

          </div>

          {% if form.section.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}

              <label class="col-sm-2 control-label"
              for="{{form.section.id_for_label}}">
                {{ form.section.label }}
                {% if form.section.errors %} (Invalid){% endif %}
              </label>

              <div class="col-sm-10">
                {{ form.section }}
              </div>

              <div class="col-sm-10 col-sm-offset-2">
                <span class="help-block">
                  The class section for which you are submitting this
                  question, if any. Example: HNRS 110.
                </span>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12">
              <input type="submit" class="btn btn-primary" value="Submit Question" />
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
