{% extends 'layouts/base.html' %}

{% block title %}
HNRS 110 &bull; Instructions
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Help</h1>
      <p class="lead">Use this document to guide your peer-reivew of
      other students' research questions.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <div class="well well-sm text-center">
      <ul class="nav nav-pills text-left" style="display:inline-block;">
        <li>
          <a href="#Instructions">Instructions</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            Research Questions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#Good-Questions">Good Questions</a></li>
            <li class="divider"></li>
            <li><a href="#Originality">Originality</a></li>
            <li><a href="#Building-Blocks">Building Blocks</a></li>
            <li><a href="#Specific-Details">Specific Details</a></li>
            <li><a href="#Self-Check">Self Check</a></li>
            <li><a href="#Material">Material</a></li>
<!--
            <li><a href="#Uniqueness">Uniqueness</a></li>
            <li><a href="#Framing">Framing</a></li>
            <li><a href="#Focus">Focus</a></li>
            <li><a href="#Completeness">Completeness</a></li>
            <li><a href="#Researchability">Researchability</a></li>
-->
            <li class="divider"></li>
            <li><a href="#Example-Questions">Example Questions</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            Feedback
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#Constructive-Feedback">Constructive Feedback</a></li>
            <li><a href="#Non-Constructive-Feedback">Non-Constructive Feedback</a></li>
            <li><a href="#Feedback-Example">Feedback Example</a></li>
            <li class="divider"></li>
            <li><a href="#Pro-Tip">Tips</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            Using the Website
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#Submit">Submitting a Question</a></li>
            <li><a href="#Comments">Comment System</a></li>
            <li><a href="#Names">Usernames</a></li>
            <li><a href="#Accountability">Accountability</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1" style="text-align: justify;">
    <a name="Instructions"></a>
    <h1>Instructions</h1>

    <p>The objective of this exercise is to have you rate your peers'
    research questions as either <strong>good</strong> or <strong>needs
    work</strong>. You will also be asked to provide
    <strong>comments</strong> explaining your thought process. This
    document is meant to help you understand how best to do this.</p>

    <a name="Research-Questions"></a>
    <h1>Research Questions</h1>

    <a name="Good-Questions"></a>
    <h2>Good Questions</h2>

    <p>The art of constructing a good research question is a difficult
    skill to learn, but with persistence and dedication can be mastered in
    a short span of time. A good research question is not something that
    can be written in a single sitting. This process requires careful
    planning, critical analysis of your chosen topic and revisions based on
    the feedback you will receive.</p>

    <p>Once you have chosen an acceptable research topic, it is time to
    write your research question. When beginning to write the question,
    keep in mind the following factors:</p>

    <a name="Originality"></a>
    <h3>Originality</h3>

    <p>Your research question should be unique - this means that either no
    one has previously asked this question or that your work presents a new
    line of thought on an existing controversy.</p>

    <a name="Building-Blocks"></a>
    <h3>Using the Right Building Blocks</h3>

    <p>The best research questions look at the <em>"hows"</em> and
    <em>"whys"</em> rather than the <em>"whats"</em> and <em>"whos"</em>.
    On occasion, a good research question can begin with <em>"what"</em>
    (or even more rarely with <em>"who"</em>) if it meets all the other
    necessary criteria.</p>

    <p>You do not want to have a question that can be definitively
    answered. The answer to your research question should be debatable. A
    question asking <em>"who"</em> or <em>"what"</em> can almost always be
    answered conclusively, and therefore is not a proper research
    question.</p>

    <a name="Specific-Details"></a>
    <h3>Focusing On Specific Details</h3>

    <p>Your research question should be asking a specific question that is
    narrow. For example, <em>"How did President Clinton's Foreign Policy
    Towards Southern Europe in the Late 1990s Help America?"</em> is too
    broad.  What part(s) of America will you be discussing in the paper?
    What exact time period does <em>"the late 1990s"</em> constitute? What
    do you consider to be the boundaries of Southern Europe? You do not
    have to provide all of these answers in your research question, but you
    should consider them as you attempt to make your question more
    specific. A better research question, using our example, would be,
    <em>"How did President Clinton's foreign policy towards Southern France
    and Northern Italy between 1995 and 1999 influence the economy in
    America’s Northeast?"</em></p>

    <a name="Self-Check"></a>
    <h3>Perform a Self-Check on Your Question</h3>

    <p>Remember that your research question should include the following
    four components – who, what, where and when. In our example of a good
    research question above, the who is <em>"President Clinton,"</em> the
    where is both <em>"Southern France and Northern Italy"</em> and
    <em>"America’s Northeast,"</em> the when is <em>"between 1995 and
    1999"</em> and the what is <em>"President Clinton’s foreign
    policy."</em> You do not need to necessarily include every component
    specifically in the question; for example, you could have used
    <em>"late 1990s"</em> in place of <em>"between 1995 and 1999."</em>
    However, at some point in your paper you would need to clarify what you
    consider to be <em>"late 1990s."</em></p>

    <a name="Material"></a>
    <h3>Is There Enough Material to Research Your Question?</h3>

    <p>Make sure your research question has enough available scholarly
    sources for you to write the paper (although this should have been
    confirmed when choosing your research topic).</p>

    <hr />

    <a name="Example-Questions"></a>
    <h2>Example Questions</h2>

    <h3>Needs Improvement: <em>"Who killed President John F. Kennedy?"</em></h3>

    <p>Although the answer to this question is debatable, it is too broad
    and uses <em>"who"</em> instead of <em>"why"</em> or <em>"how."</em> In
    order to improve the question, the topic needs to focus more closely on
    one aspect of JFK's assassin(s) and provide more details in the
    question.</p>

    <p><strong>Improved:</strong> <em>"Why do modern historians continue to
    debate the ‘lone gunman theory’ of the JFK Assassination?"</em></p>

    <p><strong>Improved:</strong> <em>"How did the secrecy of the Warren
    Commission establish a foundation for theories of conspiracy concerning the
    JFK Assassination?"</em>

    <h3>Needs Improvement: <em>"Will Hillary Clinton run for President in
    2016?"</em></h3>

    <p>This question is far too broad - there are many possibilities that can
    be explored - and the scholarship on this subject is likely limited, as it
    is a very recent topic. In order to improve this question, a student should
    focus on a topic that is at least a few years old and is more specific.
    Also, keep in mind that while looking toward the future may be fine as an
    aspect for the paper, it can prove difficult to focus an entire paper
    around predicting the future.</p>

    <p><strong>Improved:</strong> <em>"How can the errors made in Hillary
    Clinton's 2008 Presidential Campaign be analyzed in order to improve the
    success of future candidacies?"</em></p>

    <p><strong>Improved:</strong> <em>"How did Hillary Clinton's loss in the
    2008 Democratic Iowa Caucus create a domino effect that led to the
    Presidency of Barack Obama?"</em></p>

    <h3>Needs Improvement: <em>"How did Barack Obama become
    President?"</em></h3>

    <p>This question needs to be more specific, and as with the previous
    example, the scholarship on this subject may be limited, as it is a
    very recent topic. At this point in time, focusing on a previous
    president would lead to better sources and academic research for your
    paper.  Also, keep in mind that while topics encompassing modern
    politics are covered in a variety of sources, not all of these
    materials may be considered scholarly or peer-reviewed (The New York
    Times and The Washington Post are acceptable sources for this paper,
    but the bulk of your research should come from peer-reviewed journal
    articles or academic texts).</p>

    <p><strong>Improved:</strong> <em>"How was Barack Obama able to use
    his victory in the 2008 Iowa Caucus to win the Democratic Party
    Nomination for President of the United States?"</em></p>

    <p><strong>Improved:</strong> <em>"Why was the 2008 Democratic Party
    Presidential Primary electorate so enthusiastic about the candidacy of
    Barack Obama after his victory in the Iowa Caucus?"</em></p>

    <hr />

    <a name="Feedback"></a>
    <h1>Feedback</h1>

    <a name="Constructive-Feedback"></a>
    <h2>Constructive Feedback</h2>

    <p>So, you and your classmates have completed the colossal task of creating
    your research questions. Unfortunately, a question that may make sense to
    you may not make sense to everyone else. This is why peer reviewing each
    other’s proposed questions is an absolute necessity. In order to arrive at
    the perfect research question, it is imperative to heed the constructive
    criticism of others and to adjust your question accordingly each time.
    Allow suggestions from others as well as the information you gain from
    scholarly articles guide your research process.</p>

    <p>First of all, it is very important to note that <strong><em>positive
    feedback isn't always good and negative feedback isn't always
    bad</em></strong>.  Remember that the purpose of providing feedback isn't
    to make your classmate feel better about their research projects; it is to
    help them do better with their research projects.</p>

    <p>Good feedback encourages the researcher, but also pushes them to improve
    their question by letting him/her know what may be unclear to others.</p>

    <p>Look at the question critically and identify where improvements could be
    made in order to make the question more specific and answerable. Offer
    these suggestions in your feedback. It is always better to offer an
    alternative phrase or word in order to make it clear to the researcher
    exactly how they can improve the question.</p>

    <a name="Non-Constructive-Feedback"></a>
    <h2>Non-Constructive Feedback</h2>

    <p>Just like a bad research question, bad feedback is vague and unhelpful.
    Feedback is least useful when it is dishonest, biased, too critical, or
    unspecific. Be as honest as possible to the researcher to allow them to
    make changes wherever possible. Never hold back constructive criticism for
    fear of hurting your classmate's feelings. Instead, do them a favor and
    help them create the best question they can! Always remember to tell them
    exactly where and how they can make improvements to their question, but
    always remember to praise them for what they did right.</p>

    <a name="Feedback-Example"></a>
    <h2>Feedback Example</h2>

    <p>If your classmate's question is, <em>"Who killed President John F.
    Kennedy?"</em></p>

    <p>You may offer good feedback by first letting them know that this
    question may be too broad for them to complete their research project in a
    timely manner. Let them know that while this question is debatable as a
    good research question should be, it is slightly unfocused. Propose a
    certain detail surrounding JFK's assassination that they should focus on in
    order to streamline their research and produce a good paper.</p>

    <p><strong><em>Do not</em></strong> tell the researcher that this is a good question
    if you are aware that it is not. This type of positive feedback is
    dishonest, and dishonest feedback is always bad feedback. Your main aim
    should be to help your peers improve the way that you’d like them to help
    YOU improve.</p>

    <a name="Pro-Tip"></a>
    <h2>Pro Tip</h2>

    <p>Listen to the feedback you receive. If your question is unclear to one
    of your peers, chances are it may also be unclear to others. Be mindful of
    the fact that your peers are not out to get you, but that they want to see
    you succeed. Never be afraid of asking for feedback, and do not become
    discouraged if the feedback you receive is not what you would have hoped.
    You are all in the same Honors 110 boat, and by giving and receiving honest
    feedback, you are setting yourselves up for nothing short of success.</p>


    <a name="Website"></a>
    <h1>Using the Website</h1>

    <p>In its most general sense, this website is intended to allow
    students like yourself to get feedback from your peers on your Honors
    110 research questions. If you need help revising, focusing, narrowing,
    or in any way editing your question or topic, feel free to submit it
    for review!</p>

    <a name="Submit"></a>
    <h2>Submitting a Question</h2>

    <p>Submitting a question is simple. Click the "Submit Question" link in
    the navigation bar at the top of the screen, then enter your research
    question or topic in the provided box and hit submit. That's all!</p>

    <a name="Comments"></a>
    <h2>The Comment System</h2>

    <p>The comment and reply system on each student's question allows for
    pseudo-anonymous discussion. Please use comments and replies to discuss
    a student's proposed idea, and provide them with constructive feedback
    or ideas.</p>

    <a name="Names"></a>
    <h2>Usernames</h2>

    <p>You will be paired with a randomly generated username when engaging
    in discussion. The usernames are generated from a list of English
    adjectives and nouns. If you find your username offensive, please
    report it to an <a href="mailto:jrouly@gmu.edu">administrator</a>.</p>

    <a name="Accountability"></a>
    <h2>Student Accountability</h2>

    <p>Despite having anonymized usernames for discussion, you are still
    held accountable for content posted. Moderators (including your PRMs,
    GTAs, and professors) have access to your secret identities. If you
    post objectionable content, you <em>will</em> be held accountable.</p>

  </div>

</div>

{% endblock %}
