{% extends 'layouts/base.html' %}

{% block title %}
HNRS 110 &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Research Question Review</h1>
      <p class="lead">Review and critique your peers' research questions.</p>
    </div>
  </div>
</div>

{% if questions %}
  {% for question in questions %}
    {% include 'components/question.html' %}
  {% endfor %}
{% else %}
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      No questions have yet been submitted. Why don't you try
      <a href="/submit">submitting</a> one yourself!
    </div>
  </div>
{% endif %}

{% endblock %}
