{% extends 'layouts/base.html' %}

{% block title %}
HNRS 110 &bull; Homepage
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Research Questions</h1>
      <p class="lead">Review and critique your peers' research questions.</p>
    </div>
  </div>
</div>

{% if questions %}
  {% for question in questions %}

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">
              {{question.user.first_name}} {{question.user.last_name}}
              <span class="pull-right">
                <em>Asked on {{question.date.date}}</em>
              </span>
            </h3>
          </div>

          <div class="panel-body">
            <p>{{ question.text }}</p>

            <a href="{{ question.get_absolute_url }}">
              Comments ({{ question.get_comments|length }})
            </a>
          </div>

        </div>

      </div>
    </div>

  {% endfor %}
{% else %}
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      No questions have yet been submitted. Why don't you try
      <a href="/submit">submitting</a> one yourself!
    </div>
  </div>
{% endif %}

{% endblock %}
