{% extends 'layouts/base.html' %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>Login</h1>
      <p class="lead">Description</p>
    </div>
  </div>
</div>

{% if form.errors %}
<div class="row">
  <div class="col-lg-12">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
</div>
{% endif %}

<p>Please log in using your GMU NetID.</p>

<form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  <label for="username">user</label>
  <br />
  <input type="username" name="username" id="username" placeholder="Username" />
  <br /><br />
  <label for="password">password</label>
  <br />
  <input type="password" name="password" id="password" placeholder="Password" />
  <br /><br />
  <input type="submit" value="Sign in" />
</form>

{% endblock %}
