<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">
          {{question.user.first_name}} {{question.user.last_name}}
          <span class="pull-right">
            <em>Asked on {{question.date.date}}</em>
          </span>
        </h3>
      </div>

      <div class="panel-body">
        {{ question.text }}
      </div>

      <div class="panel-footer">
        <a href="{{ question.get_absolute_url }}">
          <em>Comments ({{ question.get_comments|length }})</em>
        </a>
      </div>

    </div>

  </div>
</div>
