{% extends 'layouts/base.html' %}

{% block title %}
HNRS 110 &bull; Question Discussion
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Question Discussion</h1>
      <p class="lead">Discuss the student's proposed question.</p>
    </div>
  </div>
</div>

{% if comment_form.errors %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Oh snap!</strong> There was an error posting your comment.
      Please try again.
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">
          {{question.anonymized}}
          <span class="pull-right">
            <em>Asked on {{question.date.date}}</em>
          </span>
        </h3>
      </div>

      <div class="panel-body">
        {{ question.text }}
      </div>

      <div class="panel-footer">
        <a data-toggle="collapse" data-target="#make-comment{{question.pk}}"
        style="cursor:pointer;">
        Make Comment
        </a>

        <form class="form-horizontal" method="post">
          {% csrf_token %}
          {% include 'comment_form.html' %}
        </form>

      </div>

    </div>
  </div>
</div>


{% if question.get_comments %}
  <form method="post">
  {% csrf_token %}
  {% for comment in question.get_comments %}
    {% include 'comment_panel.html' %}
  {% endfor %}
  </form>
{% else %}
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-danger">

        <div class="panel-body">
          There are no comments here yet.
        </div>

      </div>

    </div>
  </div>
{% endif %}

{% endblock %}
