/*** ---- QUESTIONS ---- ***/
.question-box { 
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.question-box:hover { }

.question-box-title, .question-box-footer {
  background-color: #006633;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.question-box-title {
  border-top-left-radius: 5px;
  border-top: 3px solid #006633;
  border-left: 3px solid #006633;
  border-right: 3px solid #006633;
}

.question-box-footer {
  border-bottom-left-radius: 5px;
  border-bottom: 3px solid #006633;
  border-left: 3px solid #006633;
  border-right: 3px solid #006633;
}

/* this creates a pseudo-element,
 * allowing the container to contain
 * its two children floating divs. */
.question-box-title:after {
  clear: both;
  content: "";
  display: block;
}

.question-box-title-left {
  color: #FFCC33;
  clear: none;
  float: left;
  text-align: left;
}

.question-box-title-right {
  color: #FFCC33;
  float: right;
  clear: none;
  text-align: right;
}

.question-text {
  text-align: justify;
  color: #006633;
  border: 3px solid #006633;
  background-color: #F6D987;
  padding: 10px;
}

/*** ---- COMMENTS ---- ***/
.comment-list-box {
  margin-left: 60px;
}

.comment-box { 
  padding: 10px;
  color: #006633;
  border-left: 3px solid #006633;
  border-right: 3px solid #006633;
}

.comment-box a {
  color: #006633;
}

.comment-box:nth-child(even) { 
  background-color: #F6D987;
}

.comment-box:nth-child(odd) { 
  background-color: #ABFFAB;
}

.comment-box-footer {
  background-color: #006633;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;

  border: 3px solid #006633;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment-text {
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comment-id { }

.comment-author { }

/*** ---- REPLIES ---- ***/
.replies-box {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px dashed #000000;
  padding-right: 10px;
  padding-left: 10px;
}

.reply {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reply-author { }

.reply-text {
  text-align: justify;
}

/*** ---- FEEDBACK ---- ***/
.feedback { 
  display: block;
/*  background-color: #ff6699; */
}

.feedback-text { 
  padding: 5px;
  width: 400px;
  height: 50px;
}
