label {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

button, input[type="submit"], input[type="button"] {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: 0;
  padding: 5px 15px;
  background-color: #CCCCCC;
  cursor: pointer;
}

input[type="text"], input[type="password"], textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 5px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}
