<footer>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <span class="pull-right">
        <a href="#top">Return to top</a>
      </span>
      <p class="text-center">
        Built by <a href="http://michel.rouly.net">Michel Rouly</a>
        {% if organization and organization_url %}
        for <a href="{{ organization_url }}">{{ organization }}</a>
        {% endif %}
        with <a href="http://www.apache.org/licenses/LICENSE-2.0">some rights reserved</a>.
      </p>
    </div>
  </div>
</footer>
