<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url "homepage" %}" class="navbar-brand">
        <em>
          {% if branding %}
            {{ branding }}
          {% else %}
            Research Questions
          {% endif %}
        </em>
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse"
      data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li><a href="{% url "submit_question" %}">Submit Question</a></li>
          <li><a href="{% url "my_questions" %}">My Questions</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="{% url "admin:index" %}">Moderation</a></li>
          {% endif %}
          <li><a href="{% url "feedback" %}">Feedback</a></li>
        {% endif %}
        <li><a href="{% url "help" %}">Help</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url "website_logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "website_login" %}">Log In</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>
