a[name] {
  padding-top: 35px;
}

a:hover { text-decoration: none; }

.well-replies {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.well-replies p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group-bottom {
  margin-bottom: 0px;
}

.pager-middle {
  font-weight: bold;
  color: rgb(34, 34, 34);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
