a[name] {
  padding-top: 35px;
}

a:hover { text-decoration: none; }

.well-replies {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.well-replies p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group-bottom {
  margin-bottom: 0px;
}

.pager-middle {
  font-weight: bold;
  color: rgb(34, 34, 34);
}
